body {
  font-family: Arial, sans-serif;
  font-size: 16px; /* Sets a base font size for all elements */
  line-height: 1.5;
}

.header{
    
  color: #000000;
  margin-left: 10px;
  font-size: 20px;
}

.h500{
  height: auto;
  background-color: rgba(196, 250, 255, 0.301);
  color: #000000;
}
#navbar{
  height: 50px;
  background-color: #697f877f;
  margin: 10px;
  width:100%;
  border: 3px solid rgb(0, 0, 0);
  padding-top: 15px;

}

.profile{
  font-size: 20px;
  width: 100%;
  height: 70%;
  display: inline-block;
  align-content: Right;
}

.profile{
  font-size: 20px;
  height: 50px;
  width: 500px;
  display: inline-block;
  text-align: right;
}
.abt1{
  font-size: 20px;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  height:500px;
  margin: 25px;
  line-height: 20px;
  color: #00d0ff;
  display:inline-block;
  padding:50px;

}
#image  {
  float: right;    
   margin: 0 0 0 15px;
   height: 200px;
   }
#profile{
  font-family: 'Times New Roman', Times, serif;
  margin:10px;
  height: 250px;
  width: 100%;
  font-size: 30px;
  border: 3px solid #00d0ff;

}
img{
  height: 250px;
  width: 250px;
  border: 3px solid rgb(145, 169, 214);
  margin-right: auto;

}
.h400{
  height: 350px;
  background-color: rgb(171, 200, 226);
  color: #06010e;
  margin: 10px;
  display: inline-block
}

#Education{
  font-family: 'Times New Roman', Times, serif;
  margin:10px;
  height: 450px;
  width: 100%;
  text-align:left;
 
  


}
.edu{
 
    color: rgb(7, 46, 42);
    font-size: 20px;
    
    .edu1{
      font-size: 20px;
       
      background-color: rgb(195, 213, 230);
      height:auto;
      border: 3px solid  rgb(171, 200, 226);
    }
}



#Projects {
  text-align: left;
}

/* Container for project details */
.project-container {
  display: inline-block;
  width: 45%; /* Adjust the width of each project */
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  text-align: justify;
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
  vertical-align: top; /* Ensures projects align at the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  order: 3px solid rgb(135, 202, 231);
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .project-container {
      width: 300%; /* Projects stack on smaller screens */
  }
}
#Experience{
  
  height: 300px;
  background-color rgb(171, 200, 226);
  width:100%;
  font-size: 20px;

}
#Blogs{
  
  height: 200px;
  background-color:  rgb(171, 200, 226);
  width:100%;
  font-size: 20px;
 

}
#Links
{
    text-align: center;
    font-size: 30px;
}
#contactdetails .contact-icon
{
    display: inline-block;
    width:30px;
    height: 30px;
    padding-right:15px;
    padding-left:15px;
    padding-bottom:5px;
}



